h3{
    font-family: "arial";
    font-size: 20px;
    color: aliceblue;
    margin-top: 30px;
    padding: 15px;
    border: 5px solid rgb(104, 104, 202);
    border-style:  outset ;
    text-align: center;
    background-color: rgba(17, 55, 75, 0.938);
    border-radius: 15px;
    
   }
   
   body{
       background:rgb(96, 96, 96)
   }
   
   img{
    width: 15%;
    margin-right: 9px;
    margin-left: 45px;
    margin-top: 30px;
    text-align: center;
   }
   
   
   a{
       padding: 10px 20px;
       background-color: rgba(6, 24, 33, 0.938);
       border: 9px solid rgb(75, 73, 73);
       color: aliceblue;
       text-decoration: none;
       position:absolute;
       border-radius: 20px;   
       border:inset; 
       top: 80%;                       /* a la mitad de la pagina*/
       left: 40%; 
   }
   
       a:hover{  /* cambia color del boton */
           background-color: rgba(117, 86, 153, 0.84) ;
           border-radius: 40px; 
           
       }
       
   
   